section.about-section
  .wrapper
    .about-section__inner
      h2.about-section__title.font-s-52 «За 5 лет 
        span.font-m-reg открыли 
          br
          |мир музыки 
          br
          |для 
        |7000 учеников»

      .about-section__content
        .about-section__image
          img(src="images/leader-photo-1.jpg" loading="lazy" alt="photo" width="380" height="489").d-block
        .about-section__info
          .about-section__info-photo
            img(src="images/leader-photo-2.png" loading="lazy" alt="photo" width="418" height="418").d-block
          .about-section__info-name.font-s-16
            .about-section__info-name-wrapper
              div.font-m-s-bold Михаил Городков
              span.color-grey-3 Основатель компании
          .about-section__info-list.font-s-18
            ul
              li «Всем привет! Меня зовут 
                span.font-m-bold Михаил Городков. 
                |Я играю на барабанах 
                span.font-m-bold 19 лет 
                |и учился у одного из лучших музыкантов мира — Jojo Mayer. Я преподаю около 12 лет по авторской методике, которая вобрала в себя опыт западных методик обучения и собственных разработок.
              li Школа игры на барабанах 
                span.font-m-bold “GO!DRUMS” 
                |была открыта 
                br
                span.font-m-bold в 2019 году. 
                |Мы уже обучили более 
                span.font-m-bold 7000 человек 
                br
                |и получили множество положительных отзывов о своей работе. Годовая выручка компании в 2023 году превысила 19 млн рублей. 
              li Партнеры франшизы получают готовую бизнес-модель 
                br
                |с пошаговым становлением компании, обучением специфике продаж и полной поддержкой на всех этапах. 
                |Будем рады поделиться нашим опытом и знаниями, чтобы ваша собственная школа игры на барабанах стала лучшей в городе».

      .about-section__feedback
        .feedback
          form(data-feedback-form).feedback__form
            h3.feedback__title.font-s-30 Всегда рад лично 
              br
              |проконсультировать 
              br
              span.font-m-reg вас по всем вопросам
            .feedback__list
              .feedback__item
                .input
                  textarea(type="text" name="answer" autocomplete="off" placeholder="Вопрос").input__field.input__field--textarea
              .feedback__item
                .input
                  input(type="text" name="name" autocomplete="off" placeholder="Имя").input__field
              .feedback__item
                .input
                  input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон").input__field
              .feedback__item
                button.btn(type="submit")
                  span Задать вопрос основателю
            input(type="text" name="honeyfield" class="honeypot" style="display:none")
