section.cooperation-section
  .wrapper
    .cooperation-section__inner
      h2.cooperation-section__title.font-s-52.text-center
        span.font-m-reg Подробнее 
        br
        |о модели сотрудничества

      .cooperation-section__cards.font-m-med.color-grey-2.swiper-cooperation
        .cooperation-section__cards-list.swiper-wrapper
          .cooperation-section__cards-item.swiper-slide
            .cooperation-section__card
              .cooperation-section__card-content
                .cooperation-section__card-icon
                  img(src="images/star.svg" loading="lazy" alt="icon" width="41" height="41").d-block
                .cooperation-section__card-desciprion Заключаем договор 
                  br.d-block
                  |франшизы
              .cooperation-section__card-num.font-s-20.color-red-2 01.
          .cooperation-section__cards-item.swiper-slide
            .cooperation-section__card
              .cooperation-section__card-content
                .cooperation-section__card-icon
                  img(src="images/star.svg" loading="lazy" alt="icon" width="41" height="41").d-block
                .cooperation-section__card-desciprion Ищем подходящее 
                  br
                  |для школы 
                  br
                  |помещение
              .cooperation-section__card-num.font-s-20.color-red-2.font-m-reg 02.
          .cooperation-section__cards-item.swiper-slide
            .cooperation-section__card
              .cooperation-section__card-content
                .cooperation-section__card-icon
                  img(src="images/star.svg" loading="lazy" alt="icon" width="41" height="41").d-block
                .cooperation-section__card-desciprion Заключаем договор 
                  br.d-block
                  |аренды
              .cooperation-section__card-num.font-s-20.color-red-2.font-m-reg 03.
          .cooperation-section__cards-item.swiper-slide
            .cooperation-section__card
              .cooperation-section__card-content
                .cooperation-section__card-icon
                  img(src="images/star.svg" loading="lazy" alt="icon" width="41" height="41").d-block
                .cooperation-section__card-desciprion Проводим ремонт 
                  br.d-block
                  |помещения
              .cooperation-section__card-num.font-s-20.color-red-2.font-m-reg 04.
          .cooperation-section__cards-item.swiper-slide
            .cooperation-section__card
              .cooperation-section__card-content
                .cooperation-section__card-icon
                  img(src="images/star.svg" loading="lazy" alt="icon" width="41" height="41").d-block
                .cooperation-section__card-desciprion Запускаем рекламную 
                  br
                  |кампанию
              .cooperation-section__card-num.font-s-20.color-red-2.font-m-reg 05.
          .cooperation-section__cards-item.swiper-slide
            .cooperation-section__card
              .cooperation-section__card-content
                .cooperation-section__card-icon
                  img(src="images/star.svg" loading="lazy" alt="icon" width="41" height="41").d-block
                .cooperation-section__card-desciprion Заказываем, доставляем 
                  br
                  |и монтируем 
                  br
                  |необходимое 
                  br
                  |оборудование
              .cooperation-section__card-num.font-s-20.color-red-2.font-m-reg 06.
          .cooperation-section__cards-item.swiper-slide
            .cooperation-section__card
              .cooperation-section__card-content
                .cooperation-section__card-icon
                  img(src="images/star.svg" loading="lazy" alt="icon" width="41" height="41").d-block
                .cooperation-section__card-desciprion Помогаем в поиске 
                  br.d-block
                  |и обучении 
                  br
                  |персонала
              .cooperation-section__card-num.font-s-20.color-red-2.font-m-reg 07.
          .cooperation-section__cards-item.swiper-slide
            .cooperation-section__card
              .cooperation-section__card-content
                .cooperation-section__card-icon
                  img(src="images/star.svg" loading="lazy" alt="icon" width="41" height="41").d-block
                .cooperation-section__card-desciprion Запускаем вашу школу 
                  br
                  |игры на барабанах 
                  br
                  |и помогаем в ее 
                  br
                  |продвижении
              .cooperation-section__card-num.font-s-20.color-red-2.font-m-reg 08.
        .cooperation-section__cards-progress.swiper-progress.cooperation-pagination

      .cooperation-section__images
        ul
          li
            img(src="images/cooperation-img-1.jpg" loading="lazy" alt="image" width="380" height="280").d-block
          li
            img(src="images/cooperation-img-2.jpg" loading="lazy" alt="image" width="380" height="490").d-block
          li
            img(src="images/cooperation-img-3.jpg" loading="lazy" alt="image" width="380" height="280").d-block
        .cooperation-section__text.cooperation-section__text--1 GO!
        .cooperation-section__text.cooperation-section__text--2 DRUMS

      .cooperation-section__feedback
        .cooperation-section__feedback-description.font-s-30.text-center
          span.font-m-bold Работаем строго по договору, 
          br
          |в котором описаны все обязанности 
          br
          |и условия сотрудничества
        .cooperation-section__feedback-button
          button.btn(data-remodal-target="modal-form-cooperation")
            span Скачать пример договора
