mixin footer()
  footer.footer
    .wrapper
      .footer__row

        .footer__col
          .footer__logo
            img(src="images/logo-secondary.svg" loading="lazy" alt="logo" width="206" height="40").d-block

        .footer__col
          .footer__description.text-center.color-grey-1 Франшиза школы игры на барабанах

        .footer__col
          .footer__connection
            +connection()
          a(href="#" data-remodal-target="privacy").footer__privacy.font-s-15 Политика конфиденциальности
