mixin header(index)
  header.header
    .wrapper
      .header__inner

        .header__logo
          img(src="images/logo-main.svg" loading="lazy" alt="logo" width="217" height="64").d-block

        .header__description.text-center.font-s-18.font-r-e-light Франшиза сети ресторанов


        .header__connection
          +connection()
