mixin header(index)
  header.header
    .wrapper
      .header__inner

        .header__logo
          if index
            img(src="images/logo-main.svg" loading="lazy" alt="logo" width="206" height="40").d-block
          else
            img(src="images/logo-secondary.svg" loading="lazy" alt="logo" width="206" height="40").d-block

        .header__description.text-center.font-s-18.font-r-e-light Франшиза школы игры на барабанах


        .header__connection
          +connection()
