section.main-section

  +header(true)
  .wrapper
    .main-section__inner
      h1.main-section__title
        span.main-section__title-main.font-s-62.d-block.font-m-e-bold Откройте школу 
          br
          |игры на барабанах 
          br
          span.d-block.font-m-reg с авторской методикой 
            br
            |обучения
        span.main-section__title-secondary.font-m-reg.font-s-28
          span и прибылью 
            br
            span.font-m-bold от 295 000 ₽ 
            br
            |в месяц

      .main-section__feedback
        .feedback
          form(data-feedback-form).feedback__form
            .feedback__list
              .feedback__item
                .input
                  input(type="text" name="name" autocomplete="off" placeholder="Имя").input__field
              .feedback__item
                .input
                  input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон").input__field
              .feedback__item
                button.btn(type="submit")
                  span Узнать
            input(type="text" name="honeyfield" class="honeypot" style="display:none")

      .main-section__swiper.swiper-main
        .main-section__swiper-wrapper.swiper-wrapper
          .main-section__swiper-slide.swiper-slide
            .main-section__swiper-image
              img(src="images/main-image-1.jpg" loading="lazy" alt="image" width="280" height="192").d-block
          .main-section__swiper-slide.swiper-slide
            .main-section__swiper-image
              img(src="images/main-image-2.jpg" loading="lazy" alt="image" width="280" height="192").d-block
          .main-section__swiper-slide.swiper-slide
            .main-section__swiper-image
              img(src="images/main-image-3.jpg" loading="lazy" alt="image" width="280" height="192").d-block
          .main-section__swiper-slide.swiper-slide
            .main-section__swiper-image
              img(src="images/main-image-4.jpg" loading="lazy" alt="image" width="280" height="192").d-block
        .main-section__swiper-fraction.swiper-main-fraction
          span.current 01
          .main-section__swiper-progress.main-pagination
          span.total 04