@font-face
  font-family: "Montserrat-Regular"
  src: url('../fonts/Montserrat-Regular.woff'), url('../fonts/Montserrat-Regular.woff2')
  font-display: swap
@font-face
  font-family: "Montserrat-Medium"
  src: url('../fonts/Montserrat-Medium.woff'), url('../fonts/Montserrat-Medium.woff2')
  font-display: swap
@font-face
  font-family: "Montserrat-Bold"
  src: url('../fonts/Montserrat-Bold.woff'), url('../fonts/Montserrat-Bold.woff2')
  font-display: swap
@font-face
  font-family: "Montserrat-ExtraBold"
  src: url('../fonts/Montserrat-ExtraBold.woff'), url('../fonts/Montserrat-ExtraBold.woff2')
  font-display: swap

@import 'common/variables'
@import 'common/*'
@import 'components/*'

.page
  display: flex
  flex-direction: column
  min-height: 100%
  overflow: hidden
  position relative

  &--thanks
    background: linear-gradient(180deg, #faefa4 0%, #b8c883 100%);
    font-size: 13px
    line-height: 130%
    +above($breakpoints.xxl)
      font-size: 16px

  &__content
    flex: 1
    &--layout
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
