.about-section
  &__inner
    padding: 62px 0 70px 0
    +above($breakpoints.md)
      padding: 80px 0 90px 0
    +above($breakpoints.xxl)
      padding: 110px 0 120px 0

  &__content
    backdrop-filter: blur(6.900000095367432px);
    background-color: rgba(255, 255, 255, 0.9);
    position relative
    z-index 1
    border-radius: 10px
    padding: 24px 12px 418px 12px
    margin: 0 0 35px 0;
    text-align: center
    +above($breakpoints.sm)
      text-align: left 
      padding: 24px 0 30px 28px;
      margin: 0 0 35px 0;
    +above($breakpoints.md)
      padding: 44px 0 40px 48px;
      margin: 0 0 48px 0;
    +above($breakpoints.xxl)
      padding: 60px 0 51px 100px
      margin: 0 0 70px 0

  &__title
    margin: 0 0 14px 0
    +above($breakpoints.md)
      margin: 0 0 20px 0
    +above($breakpoints.xxl)
      margin: 0 0 30px 0
    br
      &:nth-child(2)
        +above($breakpoints.sm)
          display: none
        +above($breakpoints.md)
          display: block
  &__info
    font-weight: 300
    +above($breakpoints.sm)
      width 385px
    +above($breakpoints.md)
      width 498px
    +above($breakpoints.xxl)
      width 554px
    div
      margin: 0 0 12px 0
      +above($breakpoints.md)
        margin: 0 0 14px 0
      +above($breakpoints.xxl)
        margin: 0 0 20px 0
      &:last-child
        margin: 0
    br
      display: none
      +above($breakpoints.md)
        display: block

  &__photo
    position: absolute
    z-index -1
    bottom: 0
    right 0
    left: 0
    +above($breakpoints.sm)
      left: auto
      right 6px
    +above($breakpoints.md)
      right 16px
    +above($breakpoints.xxl)
      right 25px
    img
      height: auto
      width 231px
      margin: 0 auto
      +above($breakpoints.sm)
        margin: 0
        width 296px
      +above($breakpoints.md)
        width 380px
      +above($breakpoints.xxl)
        width 493px

  &__feedback
    .feedback
      &__form
        display: flex
        justify-content: center
        flex-direction: column
        text-align: center
        +above($breakpoints.sm)
          text-align: left
          gap: 50px
          flex-direction: row
        +above($breakpoints.xxl)
          gap: 75px
      &__list
        +above($breakpoints.sm)
          width 440px
        +above($breakpoints.md)
          width 490px
        +above($breakpoints.xxl)
          width 580px
      &__item
        width 290px
        +above($breakpoints.sm)
          width 216px
        +above($breakpoints.md)
          width 240px
        +above($breakpoints.xxl)
          width 280px
        &:first-child
          .input__field
            height: 100px
            border-radius: 20px
            +above($breakpoints.sm)
              height: 40px
            +above($breakpoints.md)
              height: 46px
            +above($breakpoints.xxl)
              height: 50px
        &:first-child,
        &:last-child
          +above($breakpoints.sm)
            width 100%
