.connection
  line-height: normal
  font-size: 17px
  font-family: "Philosopher-Bold"
  color: #472d14;
  +above($breakpoints.sm)
    font-size: 16px
  +above($breakpoints.md)
    font-size: 18px
  +above($breakpoints.xxl)
    font-size: 22px