.double-section-2
  background: linear-gradient(353deg, #472d14 0%, #5b4724 100%);
  background-color: $color-brown-1
  +above($breakpoints.sm)
    background-image: url('../images/double-2-bg.jpg')
    background-repeat: no-repeat
    background-position: center top
    background-size: cover