.feedback
  &__title
    margin: 0 0 14px 0
    +above($breakpoints.xxl)
      margin: 0 0 30px 0

  &__list
    display: flex
    align-items: center
    flex-wrap: wrap
    flex-direction: column
    gap: 4px
    +above($breakpoints.sm)
      flex-direction: row
      gap: 8px
    +above($breakpoints.md)
      gap: 10px
    +above($breakpoints.xxl)
      gap: 14px

  &__item
    width 100%
    width: 290px
    margin: 0 auto 6px auto
    +above($breakpoints.sm)
      margin: 0
      width: 190px
    +above($breakpoints.md)
      width: 216px
    +above($breakpoints.xxl)
      width: 250px
    &:last-child
      margin: 0 auto
      +above($breakpoints.sm)
        margin: 0
