.finances-section
  background-image: url('../images/finances-bg.svg')
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  background-color: #DFDFDF

  &__inner
    position relative
    z-index 1
    padding: 50px 0
    +above($breakpoints.sm)
      padding: 60px 0 67px 0
    +above($breakpoints.md)
      padding: 80px 0 103px 0
    +above($breakpoints.xxl)
      padding: 100px 0 153px 0

  &__title
    margin: 0 0 14px 0
    +above($breakpoints.md)
      margin: 0 0 20px 0
    +above($breakpoints.xxl)
      margin: 0 0 30px 0

  &__title-helper
    margin: 0 0 20px 0
    +above($breakpoints.sm)
      margin: 0 0 26px 0
    +above($breakpoints.md)
      margin: 0 0 38px 0
    +above($breakpoints.xxl)
      margin: 0 0 55px 0

  &__cards
    width 235px
    margin: 0 auto 36px auto
    +above($breakpoints.sm)
      width unset
      margin: 0 0 56px 0
    +above($breakpoints.md)
      margin: 0 0 86px 0
    +above($breakpoints.xxl)
      margin: 0 0 114px 0

  &__cards-list
    +above($breakpoints.sm)
      display: flex
      flex-wrap: wrap
      justify-content: center
      gap: 10px
    +above($breakpoints.md)
      gap: 14px
    +above($breakpoints.xxl)
      gap: 20px

  &__cards-item
    +above($breakpoints.sm)
      width auto !important

  &__card
    background: white;
    border-radius: 10px
    width: 235px;
    height: 115px;
    padding: 20px 10px 10px 10px;
    +above($breakpoints.md)
      width: 312px;
      height: 144px;
      padding: 26px 10px 10px 10px;
    +above($breakpoints.xxl)
      width 380px
      height: 192px
      padding: 40px 10px 10px 10px
    br
      display: block

  &__card-title
    margin: 0 0 6px 0
    +above($breakpoints.md)
      margin: 0 0 10px 0
    +above($breakpoints.xxl)
      margin: 0 0 16px 0

  &__feedback
    margin: 0 0 20px 0
    +above($breakpoints.sm)
      margin: 0
    .feedback
      text-align: center
      +above($breakpoints.sm)
        text-align: left
      &__list
        flex-direction: column
        align-items: flex-start

  &__images
    margin: 0 -20px
    pointer-events: none
    +above($breakpoints.sm)
      margin: 0
      position: absolute
      z-index -1
      bottom: 37px
      right 0
    img
      height: auto
      width 340px
      margin: 0 auto
      +above($breakpoints.sm)
        margin: 0
        width 470px
      +above($breakpoints.md)
        width 609px
      +above($breakpoints.xxl)
        width 780px
