.finances-section
  color: $color-white
  background: linear-gradient(353deg, #472d14 0%, #5b4724 100%);
  position relative
  z-index 1
  &__bg
    position: absolute
    z-index -1
    margin: auto
    background-image: url('../images/finances-bg.jpg')
    background-repeat: no-repeat
    background-position: calc(50% - 304px) -93px;
    background-size: 930px auto;
    width: 300px;
    height: 300px;
    top: 387px;
    left: calc(50% - 149px);
    border-radius: 100%;
    +above($breakpoints.sm)
      width: unset
      height: unset
      border-radius: 0
      background-position: center
      background-size: cover
      top: 0
      left: 0
      right 0
      bottom: 0
    &:before
      content: ""
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right 0
      box-shadow: 0px 0px 27px 15px rgba(70, 51, 8, 0.88) inset;
      border-radius: 100%
      +above($breakpoints.sm)
        content: none

  &__inner
    padding: 50px 0
    +above($breakpoints.sm)
      padding: 60px 0
    +above($breakpoints.md)
      padding: 76px 0
    +above($breakpoints.xxl)
      padding: 100px 0

  &__title
    margin: 0 0 12px 0
    +above($breakpoints.md)
      margin: 0 0 18px 0
    +above($breakpoints.xxl)
      margin: 0 0 26px 0

  &__title-helper
    margin: 0 0 28px 0
    font-weight: 400
    +above($breakpoints.md)
      margin: 0 0 38px 0
    +above($breakpoints.xxl)
      margin: 0 0 50px 0

  &__cards
    margin: 0 auto 320px auto
    width: 235px;
    +above($breakpoints.sm)
      margin: 0 0 36px 0
      width: unset;
    +above($breakpoints.md)
      margin: 0 0 50px 0
    +above($breakpoints.xxl)
      margin: 0 0 70px 0

  &__cards-list
    +above($breakpoints.sm)
      display: flex
      justify-content: center
      flex-wrap: wrap
      gap: 10px
    +above($breakpoints.md)
      gap: 14px
    +above($breakpoints.xxl)
      gap: 20px

  &__cards-item
    +above($breakpoints.sm)
      width auto !important

  &__card
    width: 235px;
    height: 152px;
    padding: 13px 6px;
    border-radius: 10px
    background-color: $color-white
    +above($breakpoints.md)
      width: 312px;
      height: 178px;
      padding: 18px 10px;
    +above($breakpoints.xxl)
      width 380px
      height: 240px
      padding: 32px 10px
    br
      display: block

  &__card-icon
    margin: 0 0 12px 0
    +above($breakpoints.md)
      margin: 0 0 14px 0
    +above($breakpoints.xxl)
      margin: 0 0 20px 0
    img
      height: auto
      margin: 0 auto
      width 38px
      +above($breakpoints.md)
        width 48px
      +above($breakpoints.xxl)
        width 58px

  &__card-title
    margin: 0 0 6px 0
    +above($breakpoints.md)
      margin: 0 0 8px 0
    +above($breakpoints.xxl)
      margin: 0 0 12px 0

  &__card-description
    font-weight: 300

  &__feedback
    .feedback
      &__title
        margin: 0 !important
      &__description
        margin: 14px 0
        +above($breakpoints.md)
          margin: 20px 0
        +above($breakpoints.xxl)
          margin: 28px 0
      &__list
        justify-content: center
