.footer
  text-align: center
  position: relative
  z-index 3
  font-size: 14px
  padding: 24px 0
  +above($breakpoints.sm)
    padding: 28px 0
    text-align: left
    font-size: 15px
  +above($breakpoints.md)
    padding: 40px 0
    font-size: 16px
  +above($breakpoints.xxl)
    font-size: 18px
    padding: 60px 0

  &__row
    +above($breakpoints.sm)
      display: flex
      justify-content: space-between
      align-items: center

  &__col
    margin: 0 0 22px 0
    +above($breakpoints.sm)
      margin: 0
    &:last-child
      margin: 0
    &:first-child
      +above($breakpoints.sm)
        display: flex
        align-items: center

  &__logo
    img
      height: auto
      width 160px
      margin: 0 auto
      +above($breakpoints.sm)
        margin: 0
        width 140px
      +above($breakpoints.md)
        width 170px
      +above($breakpoints.xxl)
        width 206px

  &__connection
    display: flex
    justify-content: center
    margin: 0 0 10px 0

  &__privacy
    text-decoration: underline;
    text-decoration-skip-ink: none;
