.franchise-section
  color $color-white
  background: linear-gradient(353deg, #472d14 0%, #5b4724 100%);
  position: relative
  z-index 1
  &:before
    +above($breakpoints.sm)
      content: ""
      position: absolute
      left: 0
      right 0
      top: 0
      bottom: 0
      z-index -1
      background-image: url('../images/franchise-bg.jpg')
      background-repeat: no-repeat
      background-position: center top
      background-size: cover

  &__inner
    text-align: center
    padding: 50px 0
    +above($breakpoints.sm)
      padding: 60px 0
    +above($breakpoints.md)
      padding: 80px 0 70px 0
    +above($breakpoints.xxl)
      padding: 110px 0 90px 0

  &__title
    margin: 0 0 12px 0
    +above($breakpoints.md)
      margin: 0 0 14px 0
    +above($breakpoints.xxl)
      margin: 0 0 20px 0

  &__title-helper
    margin: 0 0 50px 0
    font-weight: 400
    +above($breakpoints.md)
      margin: 0 0 70px 0
    +above($breakpoints.xxl)
      margin: 0 0 100px 0

  &__info
    margin: 0 0 40px 0
    font-weight: 300
    +above($breakpoints.md)
      margin: 0 0 56px 0
    +above($breakpoints.xxl)
     margin: 0 0 70px 0

  &__info-list
    display: flex
    justify-content: center
    flex-wrap: wrap
    gap: 44px 24px
    +above($breakpoints.md)
      gap: 54px 36px
    +above($breakpoints.xxl)
      gap: 74px 55px

  &__info-item
    position relative
    z-index 1
    +above($breakpoints.sm)
      width 224px
    +above($breakpoints.md)
      width 242px
    +above($breakpoints.xxl)
      width 254px

  &__info-num
    position: absolute
    z-index -1
    left: 0
    right 0
    top: -32px;
    font-size: 46px;
    line-height: normal
    text-transform: uppercase
    font-family: "Philosopher-Regular"
    font-weight: 400
    font-style: italic
    background: linear-gradient(175.43deg, rgba(207, 220, 198, 0.4),rgba(88, 66, 35, 0.4));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    +above($breakpoints.sm)
      top: -37px;
      font-size: 56px;
    +above($breakpoints.md)
      top: -44px;
      font-size: 68px;
    +above($breakpoints.xxl)
      top: -54px
      font-size: 80px

  &__feedback
    .feedback
      &__list
        justify-content: center
