.thanks-section
  display: flex
  justify-content: center
  align-items: center
  flex: 1
  width: 100%
  color: $color-brown-1

  &__inner
    padding: 64px 0
    text-align: center
    position relative
    z-index 3
    +above($breakpoints.sm)
      padding: 100px 0

  &__title
    margin-bottom: 11px;
    font-size: 28px
    line-height: 110%
    +above($breakpoints.sm)
      font-size: 32px
    +above($breakpoints.md)
      font-size: 40px
    +above($breakpoints.xxl)
      font-size: 50px
      margin-bottom: 20px

  &__title-helper
    font-size: 20px
    line-height: 120%
    margin-bottom: 30px
    +above($breakpoints.sm)
      font-size: 22px
    +above($breakpoints.md)
      font-size: 24px
    +above($breakpoints.xxl)
      font-size: 26px
      margin-bottom: 40px
    br
      display: block
      +above($breakpoints.sm)
        display: none

  &__btn
    max-width: 290px
    margin: 0 auto
    +above($breakpoints.md)
      max-width: 320px
    +above($breakpoints.xxl)
      max-width: 360px
    .btn
      padding: 0 10px
      height: 52px
      +above($breakpoints.sm)
        height: 56px
      +above($breakpoints.xxl)
        height: 60px
