.wrapper
  max-width: 320px
  margin: 0 auto
  padding: 0 6px
  +above($breakpoints.sm)
    max-width: 750px
    margin: 0 auto
    padding: 0 12px
  +above($breakpoints.md)
    max-width: 996px
    padding: 0 15px
  +above($breakpoints.xxl)
    padding: 0 20px
    max-width: 1220px

section
  font-size: 14px
  line-height: normal
  +above($breakpoints.md)
    font-size: 15px
  +above($breakpoints.xxl)
    font-size: 16px
h1,
h2,
h3,
h4
  font-family: "Philosopher-Regular"
  font-weight: 500

.d-flex
  display: flex
.d-block
  display: block
.d-i-block
  display: inline-block
.d-none
  display: none

.color-white
  color: $color-white
.color-black
  color: $color-black
.color-brown-1
  color: $color-brown-1
.color-grey-1
  color: $color-grey-1
.color-yellow-1
  color: $color-yellow-1


.font-roboto
  font-family: "RobotoFlex"
  font-weight: 200
.font-p-reg
  font-family: "Philosopher-Regular"
  font-weight: 400
.font-p-bold
  font-family: "Philosopher-Bold"
  font-weight: 700

.font-s-18
  font-size: 16.5px
  line-height: normal
  +above($breakpoints.sm)
    font-size: 15px
  +above($breakpoints.md)
    font-size: 16px
  +above($breakpoints.xxl)
    font-size: 18px
.font-s-20
  font-size: 17.6px
  line-height: normal
  +above($breakpoints.sm)
    font-size: 17px
  +above($breakpoints.xxl)
    font-size: 20px
.font-s-22
  font-size: 18px
  line-height: normal
  +above($breakpoints.md)
    font-size: 19px
  +above($breakpoints.xxl)
    font-size: 22px
.font-s-24
  font-size: 19px
  line-height: normal
  +above($breakpoints.sm)
    font-size: 19px
  +above($breakpoints.md)
    font-size: 21px
  +above($breakpoints.xxl)
    font-size: 24px
.font-s-26
  font-size: 19.5px
  line-height: normal
  +above($breakpoints.sm)
    font-size: 20px
  +above($breakpoints.md)
    font-size: 23px
  +above($breakpoints.xxl)
    font-size: 26px
.font-s-36
  line-height: normal
  font-size: 20px
  +above($breakpoints.md)
    font-size: 24px
  +above($breakpoints.xxl)
    font-size: 36px
.font-s-38
  line-height: normal
  font-size: 21px
  +above($breakpoints.md)
    font-size: 26px
  +above($breakpoints.xxl)
    font-size: 38px
.font-s-40
  line-height: normal
  font-size: 21.5px
  +above($breakpoints.sm)
    font-size: 22px
  +above($breakpoints.md)
    font-size: 28px
  +above($breakpoints.xxl)
    font-size: 40px
.font-s-48
  line-height: normal
  font-size: 23px
  +above($breakpoints.sm)
    font-size: 26px
  +above($breakpoints.md)
    font-size: 32px
  +above($breakpoints.xxl)
    font-size: 48px
.font-s-50
  line-height: normal
  font-size: 25px
  +above($breakpoints.sm)
    font-size: 30px
  +above($breakpoints.md)
    font-size: 40px
  +above($breakpoints.xxl)
    font-size: 50px
.font-s-60
  line-height: normal
  font-size: 30px
  +above($breakpoints.sm)
    font-size: 34px
  +above($breakpoints.md)
    font-size: 46px
  +above($breakpoints.xxl)
    font-size: 60px
.font-s-76
  line-height: normal
  font-size: 26px
  +above($breakpoints.sm)
    font-size: 40px
  +above($breakpoints.md)
    font-size: 56px
  +above($breakpoints.xxl)
    font-size: 76px

.text-up
  text-transform: uppercase
.text-init
  text-transform: initial
.text-center
  text-align: center
.text-left
  text-align: left
.text-right
  text-align: right
.text-ital
  font-style: italic

.tap-color
  -webkit-tap-highlight-color: transparent
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none

.border-r-20
  border-radius: 14px
  +above($breakpoints.md)
    border-radius: 16px
  +above($breakpoints.xxl)
    border-radius: 20px