.wrapper
  max-width: 320px
  margin: 0 auto
  padding: 0 6px
  +above($breakpoints.sm)
    max-width: 750px
    margin: 0 auto
    padding: 0 12px
  +above($breakpoints.md)
    max-width: 996px
    padding: 0 15px
  +above($breakpoints.xxl)
    padding: 0 20px
    max-width: 1220px

section
  font-size: 14px
  line-height: normal
  +above($breakpoints.md)
    font-size: 16px
  +above($breakpoints.xxl)
    font-size: 18px
h1,
h2,
h3,
h4
  font-family: "Montserrat-ExtraBold"
  font-weight: 800

.d-flex
  display: flex
.d-block
  display: block
.d-i-block
  display: inline-block
.d-none
  display: none

.color-white
  color: $color-white
.color-black
  color: $color-black
.color-grey-1
  color: $color-grey-1
.color-grey-2
  color: $color-grey-2
.color-red-1
  color: $color-red-1
.color-red-2
  color: $color-red-2

.font-m-reg
  font-family: "Montserrat-Regular"
  font-weight: 400
.font-m-med
  font-family: "Montserrat-Medium"
  font-weight: 500
.font-m-bold
  font-family: "Montserrat-Bold"
  font-weight: 700
.font-m-e-bold
  font-family: "Montserrat-ExtraBold"
  font-weight: 800

.font-s-24
  font-size: 15px
  line-height: normal
  +above($breakpoints.sm)
    font-size: 16px
  +above($breakpoints.md)
    font-size: 19px
  +above($breakpoints.xxl)
    font-size: 24px
.font-s-28
  font-size: 17px
  line-height: normal
  +above($breakpoints.sm)
    font-size: 19px
  +above($breakpoints.md)
    font-size: 22px
  +above($breakpoints.xxl)
    font-size: 28px
.font-s-30
  font-size: 18px
  line-height: normal
  +above($breakpoints.sm)
    font-size: 21px
  +above($breakpoints.md)
    font-size: 24px
  +above($breakpoints.xxl)
    font-size: 30px
.font-s-42
  font-size: 20px
  line-height: normal
  +above($breakpoints.sm)
    font-size: 24px
  +above($breakpoints.md)
    font-size: 28px
  +above($breakpoints.xxl)
    font-size: 42px
.font-s-52
  font-size: 24px
  line-height: normal
  +above($breakpoints.sm)
    font-size: 28px
  +above($breakpoints.md)
    font-size: 34px
  +above($breakpoints.xxl)
    font-size: 52px
.font-s-62
  font-size: 25px
  line-height: normal
  +above($breakpoints.sm)
    font-size: 31px
  +above($breakpoints.md)
    font-size: 40px
  +above($breakpoints.xxl)
    font-size: 62px

.text-up
  text-transform: uppercase
.text-init
  text-transform: initial
.text-center
  text-align: center
.text-left
  text-align: left
.text-right
  text-align: right
.text-ital
  font-style: italic

.tap-color
  -webkit-tap-highlight-color: transparent
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
